.bg-image {
    background: url("../images/presentation-bg.png");
    background-size: auto;
    background-size: cover;
}

.logo{
    display: block;
}

.page-text{
    transition: none;
    padding-bottom: 1rem;
    color: #e0b468!important;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;

}

.border-r{
    border-color: #e0b468!important;
}
